.wrapper {
	width: 100%;
}

.header, .footer {
	background-color: #2d3136;
}

.header .logo-wrapper {
	padding-top: 4em;
}

.header .logo {
	width: 25%;
}

.header .logo img {
	width: 100%;
}

.header .contact-icon-wrapper {
	padding-top: 8em;
}

.header .contact-icon {
	width: 25%;
	margin-left: 33%;
}

.header .contact-icon img {
	width: 100%;
}

.contact-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	color: white;
	padding-top: 3em;
}

.contact-form input {
	height: 6em;
}

.contact-form textarea {
	height: 20em;
}

.contact-form input,
.contact-form textarea {
	background: transparent;
	border-color: #4c4f53;
	color: white;
}

.contact-form input:focus, .contact-form input:active, .contact-form input:hover, 
.contact-form textarea:focus, .contact-form textarea:active, .contact-form textarea:hover {
	background: transparent;
	border-color: #743538;
	box-shadow: none;
	color: white;
}

.contact-form .form-group {
	display: flex;
	flex-flow: column-reverse;
}

.contact-form label {
	font-size: 2em;
	margin-bottom: .5em;
}

.contact-form input:required ~ label::after,
.contact-form textarea:required ~ label::after {
	content: '*';
	color: red;
	margin-left: .5em;
}

.contact-form > div:nth-child(1) {
	width: 40%;
}

.contact-form > div:nth-child(2) {
	width: 48%;
}

.contact-button {
	padding-top: 7em;
	text-align: right;
	padding-bottom: 7em;
}

.contact-button button {
	color: white;
	background-color: #be393b;
	padding: .5em 1em;
	font-size: 2em;
}

.contact-button button:hover {
	color: white;
}

.comments {
	padding-top: 8em;
}

.comments .title {
	color: #2d3136;
	font-size: 3em;
	text-align: center;
}

.comment-cards {
	padding: 0 4%;
	padding-top: 8em;
	padding-bottom: 5em;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.comment-card {
	width: 30%;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 3em;
}

.comment-card:not(:nth-child(3n)) {
	margin-right: 5%;
}

.comment-card-title {
	background-color: #58ad52;
	color: white;
	font-size: 2em;
	padding: .5em 0;
}

.comment-card:nth-child(odd) .comment-card-title {
	background-color: #2d3136;
}

.comment-card .comment-card-text {
	color: #767582;
}

.comment-card .comment-card-email {
	color: #58ad52;
}

.comment-card:nth-child(odd) .comment-card-email {
	color: #767582;
}

.comment-card-body {
	background-color: #deebde;
	min-height: 16em;
	padding: 0 .5em;
	word-break: break-word;
}

.comment-card:nth-child(odd) .comment-card-body {
	background-color: #e9eef3;
}

.comment-card-email {
	font-weight: bold;
	padding-top: 2em;
}

.comment-card-text {
	padding-top: 2em;
}


.footer {
	padding-top: 3em;
	padding-bottom: 6em;
}

.footer .logo-wrapper {
	width: 20%;
}

.footer .logo {
	width: 100%;
}

.footer .logo img {
	width: 100%;
}

.footer .social {
	width: 12em;
	display: flex;
	justify-content: space-between;
}

.footer .social img {
	width: 4em;
}

@media screen and (max-width: 992px) {
	.contact-icon-wrapper {
		display: flex;
		justify-content: center;
	}

	.header .contact-icon {
		width: 50%;
	}

	.contact-icon-wrapper .contact-icon {
		margin-left: 0;
	}

	.contact-form > div:nth-child(1),
	.contact-form > div:nth-child(2) {
		width: 100%;
	}

	.contact-form .form-group {
		padding-top: 3em;
	}

	.contact-button {
		text-align: center;
	}

	.contact-button button {
		width: 100%;
		padding: 1em;
	}

	.comment-card {
		width: 45%;
	}

	.comment-card:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.comment-card:not(:nth-child(2n)) {
		margin-right: 10%;
	}
}

@media screen and (max-width: 768px) {
	.comment-card {
		width: 100%;
	}

	.comment-card:not(:nth-child(3n)) {
		margin-right: 0;
	}

	.comment-card:not(:nth-child(2n)) {
		margin-right: 0;
	}
}